#title{
    background-color:#ff4668;
}
#title .container-fluid{
    padding:3% 15% 7%;
}
.intro { 
    font-family: 'Montserrat-dark', sans-serif;
    font-size: 3.5rem;  
    line-height: 1.5;  
    font-weight: 900;
    color:white;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;  
    line-height: 1.5;  
}

body{
    font-family: 'Montserrat-dark', sans-serif;
}
h3{
    font-family: "Montserrat-dark";
    font-weight: bold;
    line-height: 1.5;
    
}
p{
    font-family: 'Montserrat-light', sans-serif;
    color: #8f8f8f;
}
.navbar-brand{
    font-size:2rem;
}
.navbar{
    padding:0 0 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-light";
}
.download{
    margin:5% 3% 5% 0%;
}
.image{
    width:60%;
    transform: rotate(25deg);
    position: absolute;
    right:30%;
}
#features{
    background-color: white;
    padding:7% 15%;
    position: relative;
    z-index: 1;
    
    
}
.fa-4x{
    color:#ef8172;
    margin-bottom: 1rem;
}
.fa-4x:hover{
    color:#ff4668
}
.box{
    text-align: center;
    padding: 5%;
}
#testimonials{
    padding:7% 15%;
    text-align: center;
    background-color: #ef8172;
    color:white
}
.dogs{
    width:20%;
    border-radius: 100%;
    margin:20px;
}
#press{
    background-color: #ef8172 ;
    text-align: center;
    padding-bottom: 3%;
}
.aaa{
    width:15%;
    margin:20px 20px 50px;
}
#carouselExampleIndicators{
    padding:7% 15%;
}
.testimonial-image{
    width:20%;
    border-radius: 100%;
}
.testimonial-text{
   font-weight: bold;
   font-size: 2.5rem;
}
.buttonhello{
    
    
}
.my-0{
    color: #ff4668;
}
#pricing{
    padding: 100px; 
    text-align: center;
}
.pricing-column{
     padding:3% 2%
}
@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .image{
        position: static ;
        transform: rotate(0);
    } 
}
#cta{
    background-color: #ff4668;
    text-align: center;
    padding-bottom: 5rem;
}
.oho{
    font-family: "Montserrat";
    font-weight: bolder;
    font-size: 3rem;
    color: white;
    text-align: center;
    padding-top:  8rem;
    padding-bottom: 5rem;
    margin-left: 20%;
    margin-right: 20%;
}
#footer{
    margin-top:15%;
    margin-bottom: 15%;
    text-align: center;
    background-color: white;
}
.hey{
    padding-left: 1rem;
    padding-right: 1rem;
}